name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install Qt and EGL dependencies
      run: sudo apt-get update && sudo apt-get install -y libegl1 libgl1-mesa-dev libxkbcommon-x11-0
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Install xvfb
      run: sudo apt-get install -y xvfb
    - name: Run tests with xvfb
      run: xvfb-run -a python -m unittest discover -s tests -p "test_*.py" -v
