name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Disable shallow clone for SonarCloud

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Qt dependencies (PyQt6)
        run: |
          sudo apt-get update
          sudo apt-get install -y libxcb-xinerama0 libxcb-xinerama0-dev libxkbcommon-x11-0 libxcb1 libx11-xcb1 libxcb-render0 libxcb-shape0 libxcb-shm0

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Install project in editable mode
        run: |
          pip install -e .


      - name: Install xvfb
        run: sudo apt-get install -y xvfb

      - name: Run tests with xvfb
        run: |
          xvfb-run -a pytest tests/ -v --cov=src --cov=main --cov-report=xml --cov-report=term

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
